*~
\#*

cscope.files
cscope.out
.clang_complete

*Makefile
*Makefile.in
aclocal.m4
autom4te.cache/
compile
config.*
configure
depcomp
*.deps/
*.libs/
*.la
*.lo
*.o
*.log
*.trs
install-sh
libtool
ltmain.sh
missing
stamp-h1
test-driver

ABOUT-NLS
autoregen.sh

m4/*
po/
test.ts
tests/check/gst/.dirstamp
tests/check/gst/test_allow_renegotiation_property
tests/check/gst/test_anonymous_connection
tests/check/gst/test_block_switch
tests/check/gst/test_caps_renegotiation
tests/check/gst/test_enable_sync
tests/check/gst/test_get_caps
tests/check/gst/test_hot_plug
tests/check/gst/test_in_bounds_events
tests/check/gst/test_interpipe_synchronization
tests/check/gst/test_invalid_caps
tests/check/gst/test_node_name_removed
tests/check/gst/test_out_of_bounds_events
tests/check/gst/test_out_of_bounds_upstream_events
tests/check/gst/test_reconfigure_event
tests/check/gst/test_set_caps
tests/check/gst/test_buffer_properties
tests/check/test-registry.reg

docs/plugins/gst-interpipe-decl-list.txt
docs/plugins/gst-interpipe-decl.txt
docs/plugins/gst-interpipe-overrides.txt
docs/plugins/gst-interpipe-sections.new
docs/plugins/gst-interpipe-sections.txt.new
docs/plugins/gst-interpipe-undeclared.txt
docs/plugins/gst-interpipe-undocumented.txt
docs/plugins/gst-interpipe-unused.txt
docs/plugins/gst-interpipe.args
docs/plugins/gst-interpipe.hierarchy
docs/plugins/gst-interpipe.interfaces
docs/plugins/gst-interpipe.prerequisites
docs/plugins/gst-interpipe.signals
docs/plugins/html-build.stamp
docs/plugins/html.stamp
docs/plugins/html/
docs/plugins/inspect/
docs/plugins/scan-build.stamp
docs/plugins/scanobj-build.stamp
docs/plugins/sgml-build.stamp
docs/plugins/sgml.stamp
docs/plugins/xml/
docs/version.entities
docs/plugins/inspect-registry.xml
