Source: libgstinterpipe
Priority: optional
Maintainer: RidgeRun Engineering <support@ridgerun.com>
Build-Depends: debhelper (>= 10),
  autotools-dev,
  gstreamer1.0-x,
  libgstreamer1.0-dev,
  libgstreamer-plugins-base1.0-dev
Standards-Version: 4.1.2
Section: libs
Homepage: https://www.ridgerun.com/gstinterpipes

Package: libgstinterpipe
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description:GstInterpipes GStreamer Pipeline Plugin
 GstInterpipe is a GStreamer plug-in that allows communication between
 two or more independent GStreamer pipelines.
