#!/usr/bin/make -f
export DEB_BUILD_OPTIONS := nocheck
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DH_VERBOSE = 1

%:
	dh $@ --buildsystem=meson

override_dh_autoreconf:

override_dh_auto_test:
	dh_auto_test --no-parallel
