#!/usr/bin/make -f
export PYTHONIOENCODING="utf-8"
export DEB_BUILD_OPTIONS=nocheck
export DH_VERBOSE = 1

%:
	dh $@ --with autoreconf

override_dh_autoreconf:
	dh_autoreconf --as-needed

override_dh_auto_test:
	dh_auto_test --no-parallel
